# --- FRONTEND ---
# TODO: Fill frontend .gitignore
node_modules

# --- BACKEND ---

# Java class files
*.class

# Package files
*.jar
*.war
*.ear

# Build temporary files
target/
.mvn

# IntelliJ files
.iml
.idea

# vscode fies
.vscode
