.header {
    height: 60px;
    display: block;
    align-items: center;
    vertical-align: center;
    background-color: #44BB55;
    color: #fff;
    font-weight: 6000;
	font-family: "Courier New";
	margin-bottom: 5%;
}
  
div > h1 {
	text-align: center;
	padding-top: .7%;
	margin: auto;
}

.root {
	display: inline-block;
	width: 100%;
	float: left;
	margin: auto;
}