<div class="main-menu">
	<div class="container">
		<img src="../../assets/images/squirtle_probably_copyrighted.png"/>
	</div>
	<div class="container">
		<div class="leaderboard">
			<img class="leaderboard-banner" src="../../assets/images/leaderboard.jpg"/>
			<ol class="leaderboard-name">
				<li class="player-name"><span>Me</span></li>
				<li class="player-name"><span>Another player</span></li>
			</ol>
		</div>
		<button class="button" (click)="gotoMainMenu()">Main Menu</button>
	</div>
</div>