<div class="main-menu">
	<div class="container">
		<img class="pokemon-background" src="../../assets/images/pokemons/squirtle.png"/>
	</div>
	<div class="container">
		<button class="button" (click)="gotoGameScreen()">test Game</button>
		<button class="button" (click)="toggleReady()">I Am Ready</button>
		<button class="button" (click)="gotoLeaderboard()">Leaderboard</button>
		<button class="button" (click)="getRandomPokemon()">API Test</button>
		<button class="button" (click)="gotoWebsocketTest()">Websocket Test</button>

		<h3>Active Players:</h3>
		<ul>
			<li class="player-name not-ready"><span>Me ({{this.getReadyMessage()}})</span></li>
			<li class="player-name player-not-me ready"><span title="select player">Another player (ready) </span></li>
		</ul>

		<span>current Pokemon: {{this.pokemon.name ? this.pokemon.name : 'none'}},
			type: {{this.pokemon.type1 ? this.pokemon.type1 : 'none'}}</span>
	</div>
</div>
