.player-not-me:hover {
	cursor: pointer;
	font-style: italic;
	padding-left: 10px;
}

.not-ready {
	color: red;
}

.ready {
	color: green;
}

.main-menu {
	width: 100%;
	display: flex;
}

input {
	width: 79%;
	margin-bottom: 1%;
	font-size: 20px;
}

.message-container {
	padding-left: 5%;
}

#user-name-input {
	width: 50%;
	float: left;
	height: 43px;
	margin-right: 5px;
	font-size: 16px;
}

.user-name-input-button {
	width: 29% !important;
	float: left;
}
