<div class="main-menu">
	<div class="container">
		<img class="pokemon-background" src="../../assets/images/pokemons/squirtle.png"/>
	</div>
	<div class="container">
		<span class="userNameText">Your Name: </span>

		<div id="user-name-display">
			<span class="player-name" *ngIf="this.player !== undefined">{{this.player.name}}</span>

			<div style="display: block" *ngIf="this.player === undefined || this.player.name === ''">
				<input  id="user-name-input" #nameInput>
				<button class="button user-name-input-button" (click)="this.setUsername(nameInput.value)">Take This Name!</button>
			</div>
		</div>

		<button class="button" (click)="clickReady()">I Am Ready</button>
		<button class="button" (click)="gotoLeaderboard()">Leaderboard</button>
		<app-alert-basic [(staticAlertClosed)]="staticAlertClosed" [(alertType)]="currentAlertType" (click)="closeAlert()"></app-alert-basic>
		<br>
		<p class="player-name" [ngClass]="this.ready ? 'ready' : 'not-ready'">You are {{this.getReadyMessage()}}</p>
		<p>choose a name and click "I Am Ready" to start the game!</p>
	</div>


</div>
